@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap');
:root{
  --main-color: white;
  --secondary-color: black;
  --tertiary-color: #c1e1ec;
}

body{
  font-family: 'Hahmlet', serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.tertiary{
  color: var(--tertiary-color);
}

.page{
  color: var(--main-color);
  text-align: center;
  background-image: url("./Images/background.jpg");
}


/*NAVBAR*/
#navBar{
  display: flex;
  padding: 0vw 3rem;
  justify-content: space-between;
}

.brand{
  font-family: 'Vibes', cursive;
}

#links{
  display: flex;
  gap: 2rem;
  align-items: center;
}

#links>a{
  text-decoration: none;
  color: var(--secondary-color);
}

#links>a:hover{
  color: var(--tertiary-color);
  text-decoration: underline;
}

#basketQuantity{
  background-color: var(--tertiary-color);
  border-radius: 50px;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: absolute;
  top: 0.5rem;
  right: 2.2rem;
}

/*HOME*/
#home{
  padding: 5rem;
}
#home>h1{
  font-size: 10vw;
}

#shopButton{
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 20px;
  font-size: 2vw;
  padding: 0.5vw 1vw;
}

#shopButton:hover,
#shopButton:focus{
  cursor:pointer;
  background-color: var(--main-color);
  transform: translateY(-0.25em);
}

/*ABOUT*/
#about{
  padding: 2vw;
}

#about>h1{
  font-size: 5vw;
}

#about>p{
  padding: 0 10vw;
}

/*SHOP*/
#products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3vw 8vw;
}
#card{
  border: 1px solid var(--tertiary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  width: 90%;
  padding: 1vw;
  display: grid;
  justify-content: space-evenly;
  align-content: space-evenly;
  border-radius: 5px;
}

#card>img{
  width: 90%;
  margin: auto;
}

#card>button{
  background-color: var(--tertiary-color);
  border: none;
  color: var(--secondary-color);
  font-family: 'Vibes', cursive;
  font-weight:bold;
  font-size: 1.5vw;
  cursor: pointer;
}

/*CART*/
#cart{
  padding: 2rem;
}
#cartContainer{
  width: 50%;
  margin: auto;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

#cartItems{
  display: grid;
  gap: 1rem;
  padding: 0 2rem 2rem 2rem;
}

.cart-item{
  border: 1px solid var(--secondary-color);
}

/*FOOTER*/
#footer{
  text-align: center;
  padding-top: 1vw;
  font-size: 1vw;
}