@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');

:root{
  --main-color: white;
  --secondary-color: black;
  --tertiary-color: #c1e1ec;
}

.page{
  opacity: 0.9;
  background-color: var(--secondary-color);
  color: var(--main-color);
  text-align: center;
  min-height: 60vh;
}

#pageDiv{
  background-image: url("./Images/background.jpg");
}

/*NAVBAR*/
#navBar{
  display: flex;
  padding: 0vw 3rem;
  justify-content: space-between;
}

.brand{
  font-family: 'Vibes', cursive;
}

#links{
  display: flex;
  gap: 2rem;
  align-items: center;
}

#links>a{
  text-decoration: none;
  color: var(--secondary-color);
}

#links>a:hover{
  color: var(--tertiary-color);
  text-decoration: underline;
}

.tertiary{
  color: var(--tertiary-color);
}

/*HOME*/
#home{
  padding: 5rem;
}
#home>h1{
  font-size: 10vw;
}

#shopButton{
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 20px;
  font-size: 2vw;
  padding: 0.5vw 1vw;
}

/*FOOTER*/
#footer{
  text-align: center;
  padding-top: 1vw;
  font-size: 1vw;
}